html{
  line-height:1.15;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}
body{
  margin:0;
}
article,aside,footer,header,nav,section{
  display:block;
}
h1{
  font-size:2em;
  margin:0.67em 0;
}
figcaption,figure,main{
  display:block;
}
figure{
  margin:1em 40px;
}
hr{
  box-sizing:content-box;
  height:0;
  overflow:visible;
}
pre{
  font-family:monospace, monospace;
  font-size:1em;
}
a{
  background-color:transparent;
  -webkit-text-decoration-skip:objects;
}
abbr[title]{
  border-bottom:none;
  text-decoration:underline;
  -webkit-text-decoration:underline dotted;
  text-decoration:underline dotted;
}
b,strong{
  font-weight:inherit;
  font-weight:bolder;
  font-weight:700;
}
code,kbd,samp{
  font-family:monospace, monospace;
  font-size:1em;
}
button,input,optgroup,select,textarea{
  font-family:sans-serif;
  font-size:100%;
  line-height:1.15;
  margin:0;
}
button,input{
  overflow:visible;
}
button,select{
  text-transform:none;
}
button,html [type="button"],[type="reset"],[type="submit"]{
  -webkit-appearance:button;
}
fieldset{
  padding:0.35em 0.75em 0.625em;
}
legend{
  box-sizing:border-box;
  color:inherit;
  display:table;
  max-width:100%;
  padding:0;
  white-space:normal;
  }
progress{
  display:inline-block;
  vertical-align:baseline;
}
html{
  box-sizing:border-box;
  font-size:20px;
  line-height:30px;
}
*,*:before,*:after{
  box-sizing:inherit;
}
body{
  background:#fff;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  color:#5B6A87;
  font-size:1rem;
}
hr{border:0;
  display:block;
  height:1px;
  background:#E7EBF6;
  background:linear-gradient(to right, rgba(231,235,246,0.1) 0,   rgba(231,235,246,0.6) 50%, rgba(231,235,246,0.1) 100%);
  margin-top:24px;
  margin-bottom:24px;
}
ul,ol{
  margin-top:0;
  margin-bottom:24px;
  padding-left:24px;
}
li>ul,li>ol{
  margin-bottom:0;
}
img{
  height:auto;
  max-width:100%;
  vertical-align:middle;
}
img,svg{
  display:block;
}
body,button,input,select,textarea{
  font-family:"Hind Vadodara", sans-serif;
}
a{color:#0181F6;
  text-decoration:none;
}
a:hover,a:active{
  outline:0;
  text-decoration:underline;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
  clear:both;
  color:#1D2B4C;
  font-family:Frank Ruhl Libre, serif;
  font-weight:700;
}
h1,.h1{
  font-size:40px;
  line-height:50px;
  letter-spacing:-0.1px;
}

@media (min-width: 641px) {
  h1,.h1 {
    font-size:48px;
    line-height:58px;
    letter-spacing:-0.1px;
  }
  h2,.h2 {
    font-size:32px;
    line-height:42px;
    letter-spacing:-0.1px;
  }
}

@media (min-width: 641px) {
  h2,.h2 {
    font-size:40px;
    line-height:50px;
    letter-spacing:-0.1px;
  }
  h3,.h3,blockquote {
    font-size:24px;
    line-height:34px;
    letter-spacing:-0.1px;
  }
}

@media (min-width: 641px) {
  h3,.h3,blockquote {
    font-size:32px;
    line-height:42px;
    letter-spacing:-0.1px;
  }
  h4,h5,h6,.h4,.h5,.h6 {
    font-size:20px;
    line-height:30px;
    letter-spacing:-0.1px;
  }
}

@media (max-width: 640px) {
  .h1-mobile {
    font-size:40px;
    line-height:50px;
    letter-spacing:-0.1px;
  }

  .h2-mobile {
    font-size:32px;
    line-height:42px;
    letter-spacing:-0.1px;
  }

  .h3-mobile {
    font-size:24px;
    line-height:34px;
    letter-spacing:-0.1px;
  }

  .h4-mobile,.h5-mobile,.h6-mobile {
    font-size:20px;
    line-height:30px;
    letter-spacing:-0.1px;
  }
}

h1,h2,.h1,.h2 {
  margin-top:48px;
  margin-bottom:16px;
}

h3,.h3 {
  margin-top:36px;
  margin-bottom:12px;
}

h4,h5,h6,.h4,.h5,.h6 {
  margin-top:24px;
  margin-bottom:4px;
}

p {
  margin-top:0;
  margin-bottom:24px;
}
button,input,select,textarea,label{
  font-size:20px;
  line-height:30px;
}
.container,.container-sm{
  width:100%;
  margin:0 auto;
  padding-left:16px;
  padding-right:16px;
}

@media (min-width: 481px){
  .container,.container-sm{
    padding-left:24px;
    padding-right:24px;
    }
  }

.container{
  max-width:1128px;
}
.container-sm{
  max-width:848px;
}
.container .container-sm{
  max-width:800px;
  padding-left:0;
  padding-right:0;
}
.screen-reader-text{
  clip:rect(1px, 1px, 1px, 1px);
  position:absolute !important;
  height:1px;
  width:1px;
  overflow:hidden;
  word-wrap:normal !important;
}

.list-reset {
  list-style:none;
  padding:0
}

.text-left {
  text-align:left
}

.text-center {
  text-align:center
}

.text-right {
  text-align:right
}

.text-primary {
  color:#0181F6
}

.text-secondary {
  color:#FF9083
}

.has-top-divider {
  position:relative
}

.has-top-divider::before {
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  display:block;
  height:1px;
  background:#E7EBF6;
  background:linear-gradient(to right, rgba(231,235,246,0.1) 0, rgba(231,235,246,0.6) 50%, rgba(231,235,246,0.1) 100%)
}

.has-bottom-divider {
  position:relative
}

.has-bottom-divider::after {
  content:'';
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  display:block;
  height:1px;
  background:#E7EBF6;
  background:linear-gradient(to right, rgba(231,235,246,0.1) 0, rgba(231,235,246,0.6) 50%, rgba(231,235,246,0.1) 100%)
}

.m-0{
  margin:0
}
.mt-0{
  margin-top:0
}

.button {
  display:inline-flex;
  font-size:16px;
  letter-spacing:-0.1px;
  font-weight:600;
  line-height:16px;
  text-decoration:none !important;
  background-color:#fff;
  background:linear-gradient(65deg, #fff 0, #DEEFFF 100%);
  color:#0181F6 !important;
  border:none;
  border-radius:2px;
  cursor:pointer;
  justify-content:center;
  padding:16px 32px;
  height:48px;
  text-align:center;
  white-space:nowrap
}

.button:active{
  outline:0;
}
.button::before{
  border-radius:2px;
}
.button-shadow{
  position:relative;
}
.button-shadow::before {
  content:'';
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  box-shadow:0 8px 24px rgba(29,43,76,0.12);
  mix-blend-mode:multiply;
  transition:box-shadow .15s ease;
}
.button-shadow:hover::before{
  box-shadow:0 8px 24px rgba(29,43,76,0.25);
}
.button-sm{
  padding:8px 24px;
  height:32px;
}
.button-sm.button-shadow::before{
  box-shadow:0 4px 16px rgba(29,43,76,0.12);
}
.button-sm.button-shadow:hover::before{
  box-shadow:0 4px 16px rgba(29,43,76,0.25);
}
.button-primary{
  color:#fff !important;
  transition:background .15s ease;
}
.button-primary{
  background:#ff796a;
  background:linear-gradient(65deg, #FF9083 0, #FF6250 100%);
}
.button-primary:hover{
  background:#ff7e6f;
  background:linear-gradient(65deg, #ff9588 0, #ff6755 100%);
}
.button-primary.button-shadow::before{
  box-shadow:0 8px 16px rgba(255,144,131,0.25);
}
.button-primary.button-shadow:hover::before{
  box-shadow:0 8px 16px rgba(255,144,131,0.4);
}
.button-primary .button-sm.button-shadow::before{
  box-shadow:0 4px 16px rgba(255,144,131,0.25);
}
.button-primary .button-sm.button-shadow:hover::before{
  box-shadow:0 4px 16px rgba(255,144,131,0.4);
}
.button-block{
  display:flex;
}
@media (min-width: 641px){
  .accordion{
    font-size:18px;
    line-height:27px;
    letter-spacing:-0.1px;
  }
}
.site-header{
  position:relative;
  padding:24px 0;
}
.header-sun{
  position:absolute;
  top:-88px;
  right:-60px;
}
.site-header-inner{
  position:relative;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.header-links{
  display:inline-flex;
}
.header-links li{
  display:inline-flex;
}
.header-links a:not(.button){
  font-size:16px;
  line-height:24px;
  letter-spacing:-0.1px;
  font-weight:700;
  color:rgba(255,255,255,0.8);
  text-transform:uppercase;
  text-decoration:none;
  line-height:16px;
  padding:8px 24px;
}
.header-links a:not(.button):hover,.header-links a:not(.button):active{
  color:#fff;
}

@media (min-width: 641px){
  .header-sun{
    left:440px;
    right:auto;
  }
}

@media (min-width: 1025px){
  .header-sun{
    left:auto;
    right:43%;
  }
}
.hero{
  position:relative;
  text-align:center;
  padding-top:40px;
}
.hero-paragraph{
  margin-bottom:32px;
}
.hero-illustration{
  position:relative;
  margin-top:124px;
  padding-bottom:124px;
}
.hero-media{
  position:relative;
}
.hero-media img,.hero-media svg{
  width:100%;
  max-width:320px;
  height:auto;
  margin:0 auto;
  overflow:visible;
}
.hero-shapes{
  position:absolute;
  top:-76px;
  right:calc(50% - 264px);
}
.hero-shapes svg{
  width:395px;
  height:auto;
}

@media (min-width: 641px){
  .hero{
    text-align:left;
    padding-top:92px;
    padding-bottom:92px;
  }
.hero-inner{
  display:flex;
}
.hero-copy{
  padding-right:48px;
  min-width:512px;
}
.hero-illustration{
  margin-top:-80px;
  padding-bottom:0;
}
.hero-media img,.hero-media svg{
  max-width:none;
  width:528px;
}

@media (min-width: 1025px){
  .hero-copy{
    padding-right:88px;
    min-width:552px
  }
}

@media (min-width: 641px){
  .feature-extended{padding-top:48px}
  .feature-extended-image,.feature-extended-body{width:100%}
  .feature-extended-image{margin-bottom:24px}
  .feature-extended-image img,.feature-extended-image svg{width:100%;max-width:320px;height:auto;margin:0 auto;overflow:visible}
  .feature-extended-body{text-align:center}

@media (min-width: 641px){
  .features-extended .section-paragraph{padding-left:72px;padding-right:72px;margin-bottom:0}
  .feature-extended{display:flex;align-items:center;padding-top:72px}
  .feature-extended:nth-child(even) .feature-extended-image{order:1}
  .feature-extended-image,.feature-extended-body{width:auto;padding:0 24px}
  .feature-extended-image{margin-bottom:0}
  .feature-extended-image svg{max-width:none;width:320px}
  .feature-extended-body{text-align:left}}

  @media (min-width: 1025px){
    .features-extended{position:relative}
    .features-extended::before {
      content:'';
      position:absolute;
      top:-200px;
      left:-440px;
      width:725px;
      height:651px;
      background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzI1IiBoZWlnaHQ9IjY1MSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICA8ZGVmcz4gICAgPHBhdGggZD0iTTY3OC42MDMgNjQzLjg1OGMxMTEuODItNTkuMTE1LTE1Ljc3LTE4NS4zNDQtMTUuNzctMzIxLjQ4MyAwLTEzNi4xMzgtLjI4NC0zNDAuMzcxLTEzNi40MjItMzIxLjEwNS0xMzYuMTM4IDE5LjI2Ni05NC4yODggMTg3LjE2Ny00NDEuOSAyNjkuMTQ4LTM0Ny42MTQgODEuOTggNDgyLjI3MyA0MzIuNTU0IDU5NC4wOTIgMzczLjQ0eiIgaWQ9ImEiLz4gIDwvZGVmcz4gIDx1c2UgZmlsbD0iI0Y0RjdGRSIgdHJhbnNmb3JtPSJtYXRyaXgoLTEgMCAwIDEgNzI0LjUxOCAwKSIgeGxpbms6aHJlZj0iI2EiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
      background-repeat:no-repeat}
      .feature-extended{padding-left:40px;padding-right:40px}
      .feature-extended-image,
      .feature-extended-body{padding:0 40px}
      .feature-extended-image img,
      .feature-extended-image svg{width:480px}}
      .testimonials .section-inner{padding-top:0}
      .testimonials .section-title{margin-bottom:48px}
      .testimonials-wrap {
        display:flex;
        flex-wrap:wrap;
        align-items:flex-start;
        justify-content:center;
        margin-right:-12px;
        margin-left:-12px
      }
      
          .is-boxed{background:#F4F7FE}
          .body-wrap{background:#fff;overflow:hidden;display:flex;flex-direction:column;min-height:100vh}
          .boxed-container{max-width:1440px;margin:0 auto;box-shadow:0 16px 48px #E7EBF6}
          @supports (-ms-ime-align: auto){
            .boxed-container{box-shadow:0 16px 48px rgba(29,43,76,0.12)}
          }
          main{flex:1 0 auto}
          .section-inner{position:relative;padding-top:48px;padding-bottom:48px}
          @media (min-width: 641px){.section-inner{padding-top:80px;padding-bottom:80px}}
          .site-footer{position:relative;font-size:14px;line-height:22px;letter-spacing:0px;color:#919EB7;margin-top:80px}
          .site-footer::before {
            content:'';
            position:absolute;
            bottom:0;
            left:0;
            width:100%;
            height:300px;
            background-image:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIyNjciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+ICA8cGF0aCBkPSJNLjMzOC44NDJDMTY3LjQ1NSA4My4zOTQgNjQ3LjM0MiA4My4zOTQgMTQ0MCAuODQyVjI2N0guMzM4Qy0xNjYuNzggNy4wMS0xNjYuNzgtODEuNzEuMzM4Ljg0MnoiIGZpbGw9IiMxRDJCNEMiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
            background-size:1440px 300px;
            background-repeat:no-repeat
          }
          .site-footer a{color:#919EB7;text-decoration:none}
          .site-footer a:hover,.site-footer a:active{color:#fff;text-decoration:underline}
          .site-footer-inner{position:relative;display:flex;flex-wrap:wrap;padding-top:40px;padding-bottom:40px}
          .footer-brand,.footer-links,.footer-social-links,.footer-copyright{flex:none;width:100%;display:inline-flex;justify-content:center}
          .footer-brand,.footer-links,.footer-social-links{margin-bottom:24px}
          .footer-links li+li,.footer-social-links li+li{margin-left:16px}
          .footer-social-links li{display:inline-flex}
          .footer-social-links li a{padding:8px}
          @media (min-width: 641px){.site-footer{margin-top:116px}
          .site-footer::before{height:267px;background-size:1440px 267px}
          .site-footer-inner{justify-content:space-between}
          .footer-brand,.footer-links,.footer-social-links,.footer-copyright{flex:50%}.footer-brand,.footer-copyright{justify-content:flex-start}.footer-links,.footer-social-links{justify-content:flex-end}
          .footer-links{order:1;margin-bottom:0}
        }
